/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

ul li{
    display: inline-block;
    list-style: none;
}

a{
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
    color: black;
}

#button{
    border: 1px solid black;
    padding: 10px 20px;
    margin-right: 5px;
}

/* HEADER */
header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid black;
    background-color: white;
}
 /* LOGO E PULSANTI */
.head{
    width: 50%;
}

.logo img{
    width: 200px;
    vertical-align: middle;
    padding: 20px;
}

.logo{
    float: left;
}

.half{
    float: left;
    text-align: right;
}

.head-nav {
    display: inline-block;
    padding: 20px 0;
}
 /* LOGO E PULSANTI */

.hero{
    background-color: aqua;
    margin-top: 5%;
    width: 100%;
    height: 70vh;
    border: 1px solid black;
}

.hero-container{
    width: 75%;
    margin: 0 auto;
    height: 100%;
    background-color: lightgray;
}

.section-title{
    height: 10%;
    border: 1px solid black;
}

.box{
    width: 100%;
    height: 90%;
    background-color: aqua;
    border: 1px solid black;
}

.free-trial{
    width: 50%;
    height: 80%;
    background-color: aquamarine;
    float: left;
}

.header-img{
    width: 50%;
    height: 105%;
    background-color: brown;
    float: left;
}

/* HEADER */

/* MAIN */

/* FIRST SECTION */
.plane{
    width: 65%;
    margin: 0 auto;
    height: 1100px;
    background-color: lightgray;
}

.planes-container{
    width: 100%;
    height: 90%;
}

.pack{
    height: 100%;
    width: calc(95% / 3);
    background-color: blue;
    border: 1px solid black;
    float: left;
}

.professional{

}

.standard{
    margin-right: calc(5% / 2);
    margin-left: calc(5% /2);
}

.advanced{
}

.partner{
    width: 65%;
    margin: 0 auto;
    height: 600px;
    background-color: lightgray;
    border: 1px solid black;
}

.business{
    width: 65%;
    margin: 0 auto;
    height: 1000px;
    background-color: lightgray;
    border: 1px solid black;
}

.team{
    width: 65%;
    margin: 0 auto;
    height: 700px;
    background-color: lightgray;
    border: 1px solid black;
}

.faq{
    width: 65%;
    margin: 0 auto;
    height: 600px;
    background-color: lightgray;
    border: 1px solid black;
}
/* MAIN */

/* FOOTER */
footer{
    width: 100%;
    background-color: black;
    height: 450px;
}
/* FOOTER */