/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    right: 0;
    background-color: lightgray;
    width: 100%;
    height: 10vh;
}
 /* LOGO E PULSANTI */
.head{
    width: 50%;
    height: 100%;
}

.logo{
    background-color: red;
    float: left;
}

.half{
    background-color: black;
    float: left;
}
 /* LOGO E PULSANTI */

.hero{
    background-color: aqua;
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
    border: 1px solid black;
}
/*
.hero-container{
    width: 65%;
    margin: 0 auto;
    height: 100%;
    background-color: lightgray;
}

.free-trial{
    width: 50%;
    height: 550px;
    background-color: aquamarine;
    float: left;
}

.header-img{
    width: 50%;
    height: 700px;
    background-color: brown;
    float: left;
}

.box{
    width: 100%;
    height: 550px;
}
/* HEADER */

/* MAIN */

/* FIRST SECTION */
.plane{
    width: 65%;
    margin: 0 auto;
    height: 1100px;
    background-color: lightgray;
    border: 1px solid black;
}

.partner{
    width: 65%;
    margin: 0 auto;
    height: 600px;
    background-color: lightgray;
    border: 1px solid black;
}

.business{
    width: 65%;
    margin: 0 auto;
    height: 1000px;
    background-color: lightgray;
    border: 1px solid black;
}

.team{
    width: 65%;
    margin: 0 auto;
    height: 700px;
    background-color: lightgray;
    border: 1px solid black;
}

.faq{
    width: 65%;
    margin: 0 auto;
    height: 600px;
    background-color: lightgray;
    border: 1px solid black;
}
/* MAIN */

/* FOOTER */
footer{
    width: 100%;
    background-color: black;
    height: 450px;
}
/* FOOTER */